# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#Genrated files
*.g.dart
*.g.theme.dart
*.freezed.dart

/pubspec.lock
.fvm/
.vscode/settings.json


# Ignore build/ios folder
build/ios/
ios/Podfile.lock

# Ignore .dart_tool/flutter_build folder
.dart_tool/
build/
lib/app/auto_gen
injection.config.dart

android/app/.cxx/
linux/flutter
macos/
windows/


# Flutter
.dart_tool/
.packages
build/

# iOS
.ios/
ios/Pods/
ios/DerivedData/
*.xcworkspace
Podfile.lock

# Android
.android/
android/.gradle/
android/build/

# macOS
.DS_Store
.shared/
.cursor/
